body{
    --bc : #64b5f6;
    --panel-height: 600px;
    --hid-panel-height: -600px;
    position: relative;
    margin: 0;
}

/*  服务器控制面板  */
#control-panel{
    color: white;
    position: fixed;
    width: 80%;
    height: var(--panel-height);
    /* background-color: #336699; */
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: all 0.75s;
}

#control-panel.active .handle{
    content: "折叠";
    display: inline-block;
    position: absolute;
    bottom: -74px;
    /* left: 0px; */
    right: 0px;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #BBDEFB;
    color: darkgray;
    font-size: 14px;
    font-weight: bolder;
}

#control-panel.active .handle::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 36px;
    background-color: #BBDEFB;
    top: -36px;
    left: 0;
    right: 0;
    cursor: pointer;
    pointer-events: none;
    margin: 0 auto;
}

#control-panel.hid{
    top: var(--hid-panel-height);
}

#control-panel .handle{
    display: none;
}


#control-panel nav{
    height: 100%;
    float: right;
    background-color: #6699cc;
    z-index: 1;
}

#control-panel nav ul{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
}

#control-panel nav ul li{
    text-align: right;
    position: relative;
    padding: 15px 10px 15px 20px;
    text-indent: 0.5em;
    display: block;
    cursor: pointer;
    right: 0;
    transition: all 0.25s;
}

#control-panel nav ul li.active{
    right: 16px;
}

#control-panel nav ul li::before{
    content: "";
    /* background-color: white; */
    position: absolute;
    display: inline-block;
    left: 0;
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #6699cc;
    transform: rotateZ(-90deg);
}

/* 面板内容 */
.control-panel-content{
    position: relative;
    background-color: rgba(187, 222, 251, 0.918);
    overflow: hidden;
    height: 100%;
    z-index: -1;
    color: black;
}

.control-panel-content ul{
    top: 0px;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
    padding-right: 20%;
    transition: all 0.35s;
}
.control-panel-content ul li{
    display: block;
    width: 100%;
    float: left;
    height: 600px;
}

.control-panel-content fieldset{
    width: 60%;
    margin: 0 auto;
}

#sstatus{
    color: green;
}

@media screen and (max-width:1060px){
    #control-panel{
        width: 100%;
    }
}