body{
    --bc : #f1f1f1;
    --panel-height: 100%;
    --hid-panel-height: -100%;
    position: relative;
    margin: 0;
}

/*  服务器控制面板  */
#control-panel{
    color: white;
    position: fixed;
    width: 60%;
    height: var(--panel-height);
    /* height: 90%; */
    /* background-color: #336699; */
    right: 0;
    top: 0;
    transition: all 0.3s;
}

#control-panel.active{
    animation: flash 0.5s;
    -webkit-animation: flash 0.5s;
}

@keyframes flash{
    0%{
        top: -80%;
        opacity: 0;
        border-radius: 50%;
    }
    78%{
        top: -102%;
    }
    100%{
        top: -100%;
        opacity: 1;
        border-radius: 0;
    }
}
@-webkit-keyframes flash{
    0%{
        top: -80%;
        opacity: 0;
        border-radius: 50%;
    }
    78%{
        top: -102%;
    }
    100%{
        top: -100%;
        opacity: 1;
        border-radius: 0;
    }
}

#control-panel.active .handle{
    display: inline-block;
    position: absolute;
    bottom: -74px;
    /* left: 0px; */
    right: 20px;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #BBDEFB;
    color: darkgray;
    font-size: 14px;
    font-weight: bolder;
}

#control-panel.active .handle::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 36px;
    background-color: #BBDEFB;
    top: -36px;
    left: 0;
    right: 0;
    cursor: pointer;
    pointer-events: none;
    margin: 0 auto;
}

#control-panel.hid{
    top: var(--hid-panel-height);
}

#control-panel .handle{
    display: none;
}


#control-panel nav{
    height: 100%;
    float: right;
    background-color: #6699cc;
    z-index: 1;
    position: relative;
}

#control-panel nav ul{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    top: 60px;
}

#control-panel nav ul li{
    text-align: right;
    position: relative;
    padding: 15px 35px 15px 20px;
    text-indent: 0.5em;
    display: block;
    cursor: pointer;
    right: 0;
    transition: all 0.25s;
}

#control-panel nav ul li.active{
    right: 16px;
    color: #003366;
}

#control-panel nav ul li::before{
    content: "";
    /* background-color: white; */
    position: absolute;
    display: inline-block;
    left: 0;
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #6699cc;
    transform: rotateZ(-90deg);
}

#control-panel nav button{
    background-color: #336699;
    border-radius: 50%;
    font-size: 28px;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 12px;
    left: 33px;
    margin: 0 auto;
}

/* 面板内容 */
.control-panel-content{
    position: relative;
    background-color: rgba(187, 222, 251, 0.918);
    overflow: hidden;
    height: 100%;
    z-index: -1;
    color: black;
}

#panel-container{
    height: 100%;
    position: relative;
    transition: all 0.35s;
    top: 0px;
}

#panel-container>div{
    height: 100%;
    position: relative;
    display: block;
    margin: 0;
    list-style: none;
    width: 80%;
    padding: 0 10%;
}

.control-panel-content>ul>li{
    display: block;
    width: 100%;
    float: left;
    height: 100%;
}
.control-panel-content>ul>li fieldset{
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#panel-container>div>fieldset{
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    max-height: 90%;
}

.upload{
    border-radius: 50%;
    position: absolute;
    right: 44px;
    bottom: 15px;
    width: 52px;
    height: 52px;
    color: white;
    font-size: 14px;
    background-color: #3399cc;
    border-style: none;
    box-shadow: 0px 0px 10px darkgrey;
    outline: 0;
    cursor: pointer;
}

#sstatus{
    color: green;
}

#filelist-container{
    max-height: 80%;
    overflow: auto;
}

#filelist{
    position: relative;
    left: 0;
    right: 0;
    border-collapse: collapse;
    margin: 0 auto;
    max-height: 85%;
    width: 100%;
    overflow: auto;
}

#filelist thead{
    background-color: #6699cc;
}

#filelist tr:nth-child(even){
    background-color: rgb(187, 222, 251);
    width: 100%;
}


#filelist tr td{
    padding: 10px 20px;
}

#filelist a:link{
    text-decoration: none;
    color: #1261a1;
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: all 0.25s;
}
#filelist a:hover{
    text-shadow: unset;
}
#filelist a:visited{text-decoration: none;}
#filelist a:active{text-decoration: none;}

@media screen and (max-width:1060px){
    #control-panel{
        width: 100%;
    }
}