body{
    --bc : #64b5f6;
    position: relative;
    margin: 0;
}
/*  接入信息填写面板  */
#login-panel{
    font-family: monospace;
    border-radius: 5px;
    position: fixed;
    top: 120px;
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
    background-color: var(--bc);
    padding: 25px 0;
    transition: all 0.5s;
}

#login-panel.hid{
    top: 0px;
    opacity: 0;
}

/*  input效果组  */
#login-panel .login-group{
    position: relative;
    float: left;
    margin:10px 20px;
}

#login-panel button.blue{
    margin-left: 20px;
    background: #039BE5;
    cursor: pointer;
    padding: 4px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}

/*  input效果组 下面那条线  */
#login-panel .login-group::before{
    content: "";
    display: inline-block;
    width: 180px;
    pointer-events: none;
    height: 2px;
    position: absolute;
    background-color: rgb(122, 213, 255);
    top: 22px;
    transform: rotatey(90deg);
    transition: all 0.5s;
}

#login-panel .login-group input{
    color: #455a64;
    text-indent: 1em;
    background-color: var(--bc);
    border: none;
    height: 21px;
    width: 180px;
    border-bottom: 1px solid rgb(34, 34, 34);
    /* border-radius: 3px; */
    margin-bottom: 2px;
}


#login-panel .login-group span{
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    color: rgb(58, 58, 58);
    top: 0px;
    left: 10px;
    transition: all 0.3s;
}

#login-panel .login-group.active span{
    top: -20px;
    left: 0px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

#login-panel .login-group.active::before{
    transform: rotatey(0deg);
}

#msgbox-panel{
    z-index: 1;
    pointer-events: none;
    position: fixed;
    margin: 0 20%;
    top: 300px;
    width: 60%;
    overflow: hidden;
}

#msgbox-panel p{
    left: 0px;
    top: 0px;
    position: relative;
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    line-height: 28px;
    height: 24px;
    color: #ffffff;
    background-color: rgba(51, 180, 72, 0.719);
    text-align: center;
    transition: all 0.5s;
    animation: awesome 0.5s;
    -webkit-animation: awesome 0.5s;
    border-radius: 5px;
    z-index: 1;
}

#msgbox-panel p.fade{
    left: 40px;
    opacity: 0;
}

@keyframes awesome{
    from {
        opacity: 0;
        top: 40px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes awesome{
    from {
        opacity: 0;
        top: 40px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
